{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'travelmatch/login.css' %}" />
<html>
    <head>
        <title>Login</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!--Pulling Awesome Font -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <div class="container">
            <div class="row">
                <div class="col-md-offset-5 col-md-3">
                    <div class="form-login">
                    <h4>Facebook login</h4>
                    <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
                    </br>
                    <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
                    </br>
                    <div class="wrapper">
                    <span class="group-btn">     
                        <a class="btn btn-primary btn-md">login </a>
                    </span>
                    <a target="_blank" 
                        class="btn btn-info pull-right" 
                        href="{% url 'loginRedirect' %}">
                        Login with Facebook
                    </a>
                    </div>
                    </div>
                
                </div>
            </div>
        </div>
    </body>
</html>